@import url("https://fonts.googleapis.com/css2?family=Modak&family=Poppins:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.body-background {
  background: linear-gradient(180deg, #fff 0%, rgba(185, 204, 243, 0.35) 100%);
  height: 100vh;
  width: 100%;
  display: flex;
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overlay-div {
  background-color: transparent;
  width: 47%;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
}

.overlay-div > .second-overlay-div {
  width: 60%;
}

.logo-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 650px;
  height: 703;
  z-index: 1;
}

.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  width: 750px;
  height: 725px;
  border-radius: 20px;
  border: 4px solid rgba(255, 255, 255, 0.6);
  background: linear-gradient(
    182deg,
    rgba(255, 255, 255, 0.48) 1.24%,
    rgba(255, 255, 255, 0.51) 104.24%
  );
  z-index: 1;
}

.header {
  color: #3f485a;
  text-align: center;
  font-family: Modak;
  font-size: 75px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
}

.header2 {
  color: var(--928F8F, #928f8f);
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -12%;
}
