@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.with-gradient {
    background: linear-gradient(180deg, #B9CCF3 0%, #F2B9F3 100%);
}  

.two-page {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.white-box {
  width: 620px;
  height: 665px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.two-header {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 20px;
}

.two-txt {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px;
  width: 585px;
}

.two-input-container {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.two-input {
  width: 439px;
  height: 78px;
  border-radius: 15px;
  border: 2px solid #fff;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  color: var(--928F8F, #928f8f);
  text-align: left;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 78px;
  padding-left: 20px;
}

.two-logo {
  width: 192px;
  height: 192px;
  flex-shrink: 0;
  padding: 20px;
  padding-top: 30px;
}

.two-button {
    width: 267.429px;
    height: 54.857px;
    flex-shrink: 0;
    border-radius: 17.143px;
    background: var(--Bold-Purple, #a92ab7);
    color: #fff;
    font-family: Montserrat;
    font-size: 22.286px;
    font-style: normal;
    font-weight: 500;
    line-height: 54.857px; 
    text-align: center;
}
  