@import url("https://fonts.googleapis.com/css2?family=Modak&family=Poppins:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.dont-acc {
  color: #000;
  text-align: right;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
  margin-right: 4%;
  margin-top: -30px;
}

.sign-up {
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
  text-decoration-line: none;
  cursor: pointer;
  padding: 0.2rem;
  color: var(--text-color);
}

.sign-up:hover {
  color: #2a6bb7;
}

.body-background {
  background: linear-gradient(180deg, #fff 0%, rgba(185, 204, 243, 0.35) 100%);
  height: 100vh;
  width: 100%;
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-container img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.overlay-div {
  background-color: transparent;
  width: 42.5%;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
}

.overlay-div > .second-overlay-div {
  width: 60%;
}

.logo-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 550px;
  height: 600px;
  z-index: 1;
  margin-top: -100px;
}

.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  width: 620px;
  height: 600px;
  border-radius: 20px;
  border: 4px solid rgba(255, 255, 255, 0.6);
  background: linear-gradient(
    182deg,
    rgba(255, 255, 255, 0.48) 1.24%,
    rgba(255, 255, 255, 0.51) 104.24%
  );
  z-index: 1;
}

.header {
  color: #3f485a;
  text-align: center;
  font-family: Modak;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
  margin-top: 3rem;
}

.header2 {
  color: var(--928F8F, #928f8f);
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -12%;
}

.fields-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  justify-content: center;
  align-items: center;
  height: 2rem;
  min-width: 20rem;
  flex-shrink: 0;
  border-radius: .5rem;
  background: #fff;
  padding: .1rem 0.4rem;
  font-size: 1.2rem;
  border: 2px solid #928f8f
}

.field::placeholder {
  display: flex;
  justify-content: left;
  align-items: left;
  color: var(--928F8F, #928f8f);
  text-align: left;
  font-size: 1.2rem;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: calc(100% - 16rem);

  padding: 0.5rem 0rem;
  margin: 0.5rem 0rem;

  border-radius: 1rem;
  border: 2px solid var(--primary-color);

  font-size: 1.3rem;
  font-weight: bold;

  color: var(--background-color);
  background: var(--primary-color);

  cursor: pointer;
}

.login-button:hover {
  opacity: .8;
  transition: 0.1s ease-in-out all;
}


.back-button-container {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 1rem 0 0 1rem;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  border-radius: 1rem;

  padding: .5rem 1rem;
  background: #3f485a;
  color: var(--background-color);

  cursor: pointer;
  font-weight: bold;
}

.back-button:hover {
  opacity: .8;
  transition: 0.1s ease-in-out all;
}