.left_div {
	float: left;
}

.right_div {
	float: right;
}

.bio {
	display: flex;
}

.bio_photo {
	width: 50%;
	float: left;
}

.bio_photo img {
	width: 50%;
}

.bio_info {
	width: 50%;
	float: right;
}

.page {
	display: flex;
}

.settings-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.settings-title {
	color: var(--text-color);
	padding: 0 3vw;
	font-size: 2rem;
}

.profile-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;

	margin: 1.5rem 0;
	height: -webkit-fill-available;
	width: 100%;
}

.profile-image-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-grow: 1;

	gap: 1rem;
}

.profile-image-container > img {
	border-radius: 16rem;
	border: 2px solid var(--text-color);
	margin: 0 1rem;
}

.profile-name {
	font-weight: bold;
	color: var(--text-color);
}

.profile-settings-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1.5rem;
	flex-grow: 4;
}

.settingsForm > span {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	gap: 0.25rem;
	margin: 0 0 2rem 0;
}

.settingsForm label.disabled {
	color: #7f7e7e;
}

.settingsForm label {
	color: var(--text-color);
}

.settingsForm input {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;

	height: 2rem;
	padding: 0.08rem;
	min-width: 20rem;
	font-size: 1.1rem;
	font-weight: normal;

	border: none;
	border-radius: 0;
	border-bottom: 2px solid #928f8f;
	background: none;
}

.settingsForm input:focus {
	outline: none;
	border: none;
	border-bottom: 2px solid var(--primary-color) !important;
	font-weight: bold;
}

.settingsForm input::placeholder {
	display: flex;
	justify-content: left;
	align-items: left;
	color: var(--928F8F, #928f8f);
	text-align: left;
	font-size: 1.2rem;
}

.settings-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
    gap: 2rem;
}

.settings-primary-button.disabled {
    cursor: not-allowed;
    background: #aaa;
}

.settings-primary-button {
    padding: .5rem 1rem;
    background: var(--primary-color);
    color: var(--background-color);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.settings-primary-button:not(.disabled):hover {
    opacity: .9;
    box-shadow: 0 0 #0000;
}

.settings-secondary-button {
    padding: .5rem 1rem;
    background: var(--accent-color1);
    color: #002d86;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.settings-secondary-button:not(.disabled):hover {
    opacity: .9;
    box-shadow: 0 0 #0000;
}