.review_tile{
    display: flex;
    background-color: white;
    border-radius: 20px;
    background: #FFFCFC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
    padding: 20px;
    flex-direction: column;
}

.review_details{
    float:left;
    align-self: flex-start;
}

.viewComments{
    float:right;
    align-self:last baseline;
    border-radius: 10px;
    padding: 5px;
    background: #F2B9F3;
    border-color: transparent;
}

h4, h5{
    text-align: left;
}

h3{
    margin: 0px;
}

.classNameTile h4{
    color: #5B5B5B;
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.classNameReview{
    margin-top: 5px;
    margin-bottom: 5px;
}