.session_tile{
    background-color: white;
    border-radius: 10px;
    display: flex;
    margin-bottom: 2vh;
    width: inherit;
}

.tutor_info{
    align-items: flex-start;
    display: flex;
    flex-direction:column;
    padding-right: 30px;
}

.tutor_info > h6{
    margin-top: 0px;
}

.tutor_info > h4{
    margin-bottom: 5px;
}

.time_info{
    align-items: flex-end;
    display: flex;
    flex-direction:column;
}

.time_info > h6{
    margin-top: 0px;
    padding-left: 10px;
}

.time_info > h4{
    margin-bottom: 5px;
}

.class_logo {
    display: flex;
    border-radius: 10px;
    background-color: pink;
    margin: 20px;
    width: 60px;
    height: 60px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
}

.sessiontiles{
    width: -webkit-fill-available;
}

.session_details > h4 {
    font-size: 1.2rem;
    margin:0.6rem;
}

.session_details > h5 {
    font-size: 0.8rem;
    margin-left:0.7rem;
    margin-bottom: 0.3rem;
}

.classNameSession h4, h5{ 
    color: gray;
}

.header_text{
    color: black;
}