/* Sign Up */

.form-fields{
    float:left;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
}

.signup-container{
    float: left;
}

.form-group{
    padding-bottom: 1rem;
}

.form-group > label{
    color: var(--text-color);
    padding-bottom: 10px;
    display: block;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3px;
}

.form-group > input{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    background: #EDEDED;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    width: 75%;
    height: 2rem;
    padding: 3px;
    display: block;
}

button {
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    width: 75%;
    padding: 10px;
    border-color: transparent;
    font-style: bold;
    line-height: normal;
    letter-spacing: 0.36px;
    float: left;
}