/* modal: https://www.youtube.com/watch?v=RcA88ABRUds&t=77s */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

.container-modal {
  position: fixed;
  display: flex;
  width: 30%;
  height: 100vh;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s visibility 0.5s, transform 0.5s;
}

.container-modal.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.container-modal .modal {
  width: 327px;
  height: 638px;
  background: linear-gradient(
    180deg,
    #a92ab7 0%,
    rgba(185, 204, 243, 0.61) 99.99%,
    rgba(249, 200, 200, 0) 100%
  );
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 3px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-modal .img {
  width: 60px;
  position: fixed;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10.502px;
  margin-left: -230px;
  margin-top: -535px;
}

.container-modal .txt {
  width: 164px;
  height: 19px;
  position: fixed;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.46px;
  flex-shrink: 0;
  margin-left: 135px;
  margin-top: -580px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container-modal .stars {
  color: #fff;
  position: fixed;
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.22px;
  margin-left: -4px;
  margin-top: -520px;
  padding: 10px;
}

.container-modal .bio {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.29px;
  position: fixed;
  margin-top: -190px;
  padding: auto;
}

.container-modal .c-sub {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.32px;
  margin-left: -135px;
  padding-top: 10px;
  margin-top: -100px;
}

.container-modal .sub-container {
  display: flex;
  margin-top: -20px;
  margin-left: -50px;
  flex-wrap: wrap;
  width: 80%;
}

.container-modal .box {
  flex: 1;
  margin: 10px;
  width: 100px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  font-family: Montserrat;
  font-size: 14.5px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.29px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-shrink: 0; 
}

.container-modal .box:hover {
  cursor: pointer;
}

.container-modal .box:active {
  flex: 1;
  margin: 10px;
  width: 100px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-family: Montserrat;
  font-size: 14.5px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.29px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container-modal .t-sub {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.32px;
  margin-left: -145px;
}

.container-modal .time-container {
  margin-top: -20px;
  display: flex;
  margin-left: 5px;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align to the start of the container */
  align-items: center; /* Center items vertically */
  padding: 0 5px; /* Add padding inside the container to prevent boxes touching the edges */
}

.container-modal .t-box {
  width: calc(30% - 20px); /* Adjust width for 2 items per row, considering the gap */
  height: 33px; /* Fixed height */
  margin-bottom: 10px; /* Space at the bottom of each box */
  flex-grow: 0; /* Prevent the box from growing */
  flex-shrink: 0; /* Prevent the box from shrinking */
  margin: 10px;
  max-width: 100px;
  height: 37px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  font-family: Montserrat;
  font-size: 14.5px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.29px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-shrink: 0; 
}

.container-modal .t-box:hover {
  cursor: pointer;
}

.container-modal .t-box:hover {
  flex: 1;
  margin: 10px;
  width: 100px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-family: Montserrat;
  font-size: 14.5px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.29px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container-modal .modal .close {
  position: absolute;
  bottom: 20px;
  right: 170px;
  background-size: contain;
  width: 87px;
  height: 46px;
  cursor: pointer;
  border-radius: 10px;
  background: #f1efef;
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.36px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container-modal .book {
  width: 147px;
  height: 45px;
  margin-bottom: -110px;
  margin-right: -150px;
  border-radius: 10px;
  background: #91f3bb;
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.36px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.container-modal .book:hover {
  cursor: pointer;
}

.container-modal .book:active{
  background: white !important;
  border: 3px solid #91f3bb !important;
  color: #91f3bb !important;
}

